name "web/curl"
project-name "curl"
classification "System/Libraries"
summary "The CURL Network Utility and Library"
license-file "COPYING"
license "CURL"
version "8.6.0"
project-url "https://curl.haxx.se"
maintainer "The OpenIndiana Maintainers"
source {
    archive "https://curl.haxx.se/download/curl-8.6.0.tar.xz" sha256="3ccd55d91af9516539df80625f818c734dc6f2ecf9bada33c76765e99121db15"
    patch "000-configure.ac.patch"
    patch "005-libcurl.pc.in.patch"
}
build {
    configure {
        option "CC="
        option "CXX="
        option "F77="
        option "FC="
        option "CFLAGS=-m  "
        option "CXXFLAGS=-m  "
        option "FFLAGS= -m  "
        option "FCFLAGS=-m  "
        option "LDFLAGS= -m -z defs"
        option "PKG_CONFIG_PATH=:/pkgconfig::/usr/lib/pkgconfig"
        option "--prefix=/usr"
        option "--mandir=/usr/share/man"
        option "--bindir="
        option "--libdir="
        option "--libexecdir="
        option "--sbindir="
        option "LDFLAGS=-L  -m -z defs"
        option "--disable-dependency-tracking"
        option "--localstatedir=/var"
        option "--enable-shared"
        option "--disable-static"
        option "--enable-http"
        option "--enable-ftp"
        option "--enable-file"
        option "--enable-dict"
        option "--enable-manual"
        option "--disable-libgcc"
        option "--enable-rtsp"
        option "--enable-proxy"
        option "--enable-telnet"
        option "--enable-tftp"
        option "--enable-pop3"
        option "--enable-imap"
        option "--enable-smtp"
        option "--enable-ipv6"
        option "--enable-nonblocking"
        option "--enable-thread"
        option "--enable-verbose"
        option "--disable-sspi"
        option "--enable-crypto-auth"
        option "--enable-cookies"
        option "--disable-hidden-symbols"
        option "--disable-soname-bump"
        option "--enable-ldap"
        option "--with-random=/dev/urandom"
        option "--enable-ares"
        option "--enable-websockets"
        option "--with-openssl=/usr/openssl/3.1"
        option "--with-ldap-lib=ldap_r-2.4"
        option "--with-lber-lib=lber-2.4"
        option "--with-gssapi-includes=/usr/include/gssapi"
        option "--with-gssapi-libs="
        option "--with-gssapi=/usr"
        option "--without-ca-bundle"
        option "--with-ca-path=/etc/openssl/certs"
        option "--with-zlib=/usr"
        option "--with-libidn=/usr"
        option "--with-pic"
        option "--with-libssh2"
        option "--without-librtmp"
        option "curl_disallow_getifaddrs=yes"
    }
}
dependency "compress/zstd" dev=true kind="require"
dependency "library/brotli" dev=true kind="require"
dependency "library/libcares" dev=true kind="require"
dependency "library/libgsasl" dev=true kind="require"
dependency "library/libidn2" dev=true kind="require"
dependency "library/libpsl" dev=true kind="require"
dependency "library/libssh2" dev=true kind="require"
dependency "library/nghttp2" dev=true kind="require"
dependency "library/openldap" dev=true kind="require"
dependency "library/security/openssl-31" dev=true kind="require"
dependency "library/zlib" dev=true kind="require"
dependency "shell/ksh93" dev=true kind="require"
dependency "system/library" dev=true kind="require"
dependency "system/library/security/gss" dev=true kind="require"
