name "runtime/java/openjdk11"
project-name "runtime/java/openjdk11"
metadata {
    anitya-id "123456"
    repology-id "123456"
}
classification "Development/Java"
summary "Open-source implementation of the Java Platform, Standard Edition"
license-file "openjdk.license"
license "GPLv2 with Classpath Exception"
version "11.0.22"
project-url "https://openjdk.java.net/"
source {
    archive "https://github.com/openjdk/jdk11u/archive/refs/tags/jdk-11.0.22-ga.tar.gz" sha256="5ed47173679cdfefa0cb9fc92d443413e05ab2e157a29bb86e829d7f6a80913a"
    archive "https://github.com/openjdk/jdk11u/archive/refs/tags/jdk-11.0.22-ga.tar.gz" sha256="5ed47173679cdfefa0cb9fc92d443413e05ab2e157a29bb86e829"
    patch "tribblix-demangle2.patch"
    patch "make_autoconf_flags-cflags.m4.patch"
    patch "src_hotspot_share_gc_g1_g1Analytics.cpp.patch"
    patch "tribblix-sparc2.patch"
    patch "tribblix-flags-ldflags2.patch"
    patch "make_launcher_LauncherCommon.gmk.patch"
    patch "tribblix-demangle3.patch"
    patch "tribblix-agent-mt.patch"
    patch "src_java.desktop_share_classes_javax_swing_UIManager.java.patch"
    patch "make_launcher_Launcher-jdk.pack.gmk.patch"
    patch "src_hotspot_os__cpu_solaris__x86_os__solaris__x86.cpp.patch"
    patch "tribblix-flags-ldflags3.patch"
    patch "tribblix-sparc3.patch"
    patch "make_hotspot_lib_JvmOverrideFiles.gmk.patch"
    patch "tribblix-Launcher-jdk.patch"
    patch "make_install.patch"
    patch "tribblix-flags-cflags.patch"
    patch "make_hotspot_gensrc_GensrcAdlc.gmk.patch"
    patch "tribblix-demangle1.patch"
    patch "src_hotspot_share_utilities_globalDefinitions__gcc.hpp.patch"
    patch "src_hotspot_os_solaris_os__solaris.cpp.patch"
    patch "tribblix-sparc1.patch"
    patch "fontpath.patch"
    patch "make_GenerateLinkOptData.gmk.patch"
    patch "src_hotspot_os__cpu_solaris__x86_bytes__solaris__x86.inline.hpp.patch"
    patch "tribblix-thrstat001.patch"
    patch "make_lib_LibCommon.gmk.patch"
    patch "make_hotspot_gensrc_GensrcDtrace.gmk.patch"
    patch "src_hotspot_os__cpu_solaris__x86_os__solaris__x86.inline.hpp.patch"
    patch "make_autoconf_spec.gmk.in.patch"
    patch "make_autoconf_jdk-options.m4.patch"
    patch "make_autoconf_lib-x11.m4.patch"
    patch "tribblix-flags-ldflags.patch"
    patch "src_java.base_solaris_native_libnio_ch_DevPollArrayWrapper.c.patch"
    patch "make_lib_Lib-jdk.crypto.ec.gmk.patch"
    patch "make_lib_Lib-jdk.crypto.ucrypto.gmk.patch"
    patch "README.txt"
    patch "tribblix-demangle4.patch"
    patch "make_autoconf_toolchain.m4.patch"
    patch "src_jdk.crypto.ec_share_native_libsunec_ECC__JNI.cpp.patch"
    patch "make_autoconf_libraries.m4.patch"
    patch "illumos-port-6.patch"
    patch "sunpkcs11-solaris.cfg.patch"
    patch "tribblix-LauncherCommon.patch"
    patch "tribblix-attachListener_solaris.patch"
    patch "make_lib_Awt2dLibraries.gmk.patch"
    patch "src_hotspot_os__cpu_solaris__x86_prefetch__solaris__x86.inline.hpp.patch"
    patch "make_hotspot_lib_CompileJvm.gmk.patch"
    patch "security-pkcs11.patch"
    patch "src_java.desktop_share_native_libsplashscreen_libpng_pngpriv.h.patch"
    patch "src_hotspot_os__cpu_solaris__x86_atomic__solaris__x86.hpp.patch"
}
build {
    configure {
        option "prefix=/usr"
        option "mandir=/usr/share/man"
        option "bindir="
        option "libdir="
        option "libexecdir="
        option "sbindir="
        option "with-jobs="
        option "x-includes=/usr"
        option "x-libraries=/usr/lib/amd64"
        option "with-version-pre="
        option "with-conf-name=oi"
        option "with-boot-jdk=/ws/toasty/work/git_github.comToasterson_oi-userland.git/103283216de3354b986041cbe07742882e715679/components/runtime/openjdk-11/jdk11.0.6"
        option "with-freetype=system"
        option "with-giflib=system"
        option "with-harfbuzz=system"
        option "with-lcms=bundled"
        option "with-libjpeg=system"
        option "with-libpng=system"
        option "with-zlib=system"
        option "with-x=yes"
        option "with-native-debug-symbols=none"
        option "with-jvm-variants=server"
        option "with-debug-level=release"
        option "with-toolchain-type=gcc"
        option "with-extra-cflags=-m"
        option "with-extra-cxxflags=-m"
        option "with-extra-ldflags=-m64"
        option "with-cups=/usr"
        option "with-fontconfig=/usr"
        option "enable-unlimited-crypto"
        option "disable-dtrace"
        option "disable-hotspot-gtest"
        option "disable-warnings-as-errors"
        option "disable-precompiled-headers"
        option "disable-ccache"
        option "disable-option-checking"
    }
}
dependency "system/header/header-audio" dev=true kind="require"
dependency "system/library/c++/sunpro" dev=true kind="require"
dependency "system/library/gcc-13-runtime" dev=true kind="require"
dependency "system/library/g++-13-runtime" dev=true kind="require"
dependency "image/library/libjpeg6" dev=true kind="require"
dependency "image/library/libjpeg6-ijg" dev=true kind="require"
dependency "image/library/libpng16" dev=true kind="require"
dependency "library/c++/harfbuzz" dev=true kind="require"
dependency "library/giflib" dev=true kind="require"
dependency "library/zlib" dev=true kind="require"
dependency "system/library" dev=true kind="require"
dependency "system/library/freetype-2" dev=true kind="require"
dependency "system/library/math" dev=true kind="require"
dependency "x11/library/libx11" dev=true kind="require"
dependency "x11/library/libxext" dev=true kind="require"
dependency "x11/library/libxi" dev=true kind="require"
dependency "x11/library/libxrender" dev=true kind="require"
dependency "x11/library/libxtst" dev=true kind="require"
